<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="customers content">
            <form action="/customers" method="POST">
                <b>Customers: </b></br> 
            <% if (theCustomers.length > 0) { %>
                <% theCustomers.forEach(customer=> { %>
                    <b><%= customer.first_name %> <%= customer.last_name %> <%= customer.email %></b>
                    <a href="/customers/<%=customer.id%>/edit?firstName=<%=customer.first_name%>&lastName=<%=customer.last_name%>">edit</a>
                    <a href="/customers/<%=customer.id%>/delete?firstName=<%=customer.first_name%>&lastName=<%=customer.last_name%>">delete</a>
                    <a href="/customers/<%=customer.id%>/replace?firstName=<%=customer.first_name%>&lastName=<%=customer.last_name%>">replace</a></br> 
                    <% }) %>
            <% } %>
            </br><label>Add Customer:</label></br>
            <label>First Name:
                <input type="text" id="firstName" name="firstName" value="<%= locals.firstName %>" required>
            </label>
            <label>Last Name:
                <input type="text" id="lastName" name="lastName" value="<%= locals.lastName %>" required>
            </label>
            <label>email:
                <input type="text" id="email" name="email" value="<%= locals.email %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>